#reminder-box {
    visibility: hidden; /* 預設不可見 */
    background-color: #797777; /* 背景顏色 */
    color: #ffffff; /* 字體顏色 */
    transition: opacity 1.5s ease; /* 加入淡入淡出效果 */
    z-index: 1000;
    font-size: 12px;
    text-align: center;
    width: 125px; /* 固定寬度，根據需要調整 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height:20px; /* 固定高度，根據需要調整 */
    border-radius: 20px;

}

#reminder-box.show {
    visibility: visible; /* 顯示 */
    opacity: 1; /* 完全不透明 */
}