.token-table {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* 第一列較窄，第二列較寬 */
    gap: 20px;
    /* 元素間距 */
}

.token-table h3 {
    margin-left: 70px;
    font-size: 18px;
    /* 自定義字體大小 */
    color: #333;
    /* 標題文字顏色 */
}

.token-table div {
    font-size: 16px;
    color: #666;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    width: 250px; /* 固定寬度 */
    height: 350px; /* 固定高度 */
    box-sizing: border-box;
    overflow: hidden; /* 隱藏超出內容 */
    text-overflow: ellipsis; /* 超出顯示省略號 */
    
    display: -webkit-box;
    -webkit-line-clamp: 6; /* 最大顯示6行 */
    -webkit-box-orient: vertical;
    
    word-wrap: break-word;
    white-space: normal;
}






#reseller-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#vortex-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#reseller-text {
    grid-column: 1/2;
    grid-row: 2 / 3;
}

#vortex-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}